{{ form_start(searchForm) }}
    {{ form_row(searchForm.title) }}
    {{ form_row(searchForm.country) }}
    {{ form_row(searchForm.genre) }}
    {{ form_row(searchForm.sort) }}
    <button type="submit" class="btn btn-outline-secondary">Search</button>
{{ form_end(searchForm) }}