{% extends 'base.html.twig' %}

{% block title %}Series index{% endblock %}

{% block body %}
    <h1>Series index</h1>
    <br>
    <form method="get" action="#">
        <input type="text" name="name">
        <input type="submit" name="Valider">
    </form>
    <br>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Poster</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for series in series %}
            <tr>
                <td>{{ series.title }}</td>
                <td>{{ series.poster }}</td>
                <td>
                    <a href="{{ path('series_show', {'id': series.id}) }}">show</a>
                    <a href="{{ path('series_edit', {'id': series.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('series_new') }}">Create new</a>
{% endblock %}
