{% extends 'base.html.twig' %}

{% block title %}Series{% endblock %}

{% block body %}

    <section class="navbar-area p-3 mb-2 bg-primary text-white">
        {% include 'home/navbar.html.twig' %}
    </section>

    <br>
    <br>
    <br>
    <br>
    
    <div class="jumbotron text-center mt-2">
        <div class="container">
            <div class="row">
            <div class="col-12">
                <img src='data:image/jpeg;base64,{{ poster }}'/>
                <h1>{{ series.title }}</h1>
                <br>
                <p>{{ series.plot }}</p>
            </div>
            </div>
        </div>
    </div>
    
    
    <div class="row text-center mt-2">	
          <div class="col-md-12">
            {% if app.user %}
                {% if found == false %}
                    
                    {{ include('series/_rating_form.html.twig') }}

                {% else %}
                    <h3 class="mt-0 mb-1">Note : {{ rating.value }}/10</h3>
                    <p>Your comment : {{ rating.comment }}</p>
                    {{ form_start(commentsForm[rating.id]) }}
                        <button type="submit" class="btn btn-outline-secondary">Delete</button>
                    {{ form_end(commentsForm[rating.id]) }}
                {% endif %}
                <br>
                {% if follow == false %}

                    {{ include('series/_follow_form.html.twig') }}
                    
                {% else %}

                    {{ include('series/_unfollow_form.html.twig') }}

                {% endif %}
            {% endif %}
            <br><br>
          </div>
    </div>

    <div class="jumbotron text-center mt-2">
        <div class="container">
            <div class="row">
            <div class="col-12">
                <h2>Seasons/Episodes</h2>
                <br>
            </div>
            </div>
        </div>
    </div>
    
    <div class="row justify-content-center">
        {% for season in seasons %}
        <div class="col-md-auto col-sm-9">
            <div class="single-features mt-40">
                <div class="features-title-icon ">
                    <a class="btn btn-outline-secondary" href="{{ path('seasons_show', {'series_id': series.id, 'seasons_id': season.id}) }}"><h3>Season {{ season.number }}</h3></a>
                    <br>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

    <hr>

    <div class="row text-center mt-2">	
        <div class="col-md-6">
            <h4>Imdb</h4>
            <a href="https://www.imdb.com/title/{{ series.imdb }}">Imdb link</a>
            <br><br>
        </div>
        <div class="col-md-6">
            <h4>YoutubeTrailers</h4>
            <iframe width="256" height="144"
            src="{{ trailer }}" frameborder="0" allowfullscreen>
            </iframe>
            <br><br>
        </div>
        <div class="col-md-6">
            <h4>Director</h4>
            <p>{{ series.director }}</p>
            <br><br>
        </div>
        <div class="col-md-6">
            <h4>Actors</h4>
            {% for actor in actors %}
                <p>{{ actor.name }}</p>
            {% endfor %}
            <br><br>
        </div>
        <div class="col-md-6">
            <h4>YearStart</h4>
            <p>{{ series.yearStart }}</p>
            <br><br>
        </div>
        <div class="col-md-6">
            <h4>YearEnd</h4>
            <p>{{ series.yearEnd }}</p>
            <br><br>
        </div>
        <div class="col-md-6">
            <h4>Genres</h4>
            {% for genre in genres %}
                <p>{{ genre.name }}</p>
            {% endfor %}
            <br><br>
        </div>
        <div class="col-md-6">
            <h4>Countries</h4>
            {% for country in countries %}
                <p>{{ country.name }}</p>
            {% endfor %}
            <br><br>
        </div>
        <div class="col-md-6">
            <h4>Awards</h4>
            <p>{{ series.awards }}</p>
            <br><br>
        </div>
    </div>

    <div class="row justify-content-center">
        <a class="btn btn-outline-primary" href="{{ path('series_index') }}">Back to List</a>
        
    </div>

    
{% endblock %}
