{% extends 'base.html.twig' %}

{% block title %}Series{% endblock %}

{% block body %}
    <h1>Series</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ series.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ series.title }}</td>
            </tr>
            <tr>
                <th>Plot</th>
                <td>{{ series.plot }}</td>
            </tr>
            <tr>
                <th>Seasons/Episodes</th>
                <td><ul>
                    {% for season in seasons %}
                        <li>Season {{ season.number }}</li> <!-- For each season, ... -->
                        <ul> 
                        {% for episode in episodes[season.number - 1] %}
                            <li> Episode {{ episode.number }} : {{ episode.title }} <!-- ... we print episodes about his season -->
                        {% endfor %}
                        </ul>
                    {% endfor %}
                </ul></td>
            </tr>
            <tr>
                <th>Imdb</th>
                <td><a href="https://www.imdb.com/title/{{ series.imdb }}">Link</a></td>
            </tr>
            <tr>
                <th>Poster</th>
                <td><img src='data:image/jpeg;base64,{{ poster }}'/></td>
            </tr>
            <tr>
                <th>Director</th>
                <td>{{ series.director }}</td>
            </tr>
            <tr>
                <th>YoutubeTrailer</th>
                <td><a href="{{ series.youtubeTrailer }}">Link</a></td>
            </tr>
            <tr>
                <th>Awards</th>
                <td>{{ series.awards }}</td>
            </tr>
            <tr>
                <th>YearStart</th>
                <td>{{ series.yearStart }}</td>
            </tr>
            <tr>
                <th>YearEnd</th>
                <td>{{ series.yearEnd }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('series_index') }}">back to list</a>

    <a href="{{ path('series_edit', {'id': series.id}) }}">edit</a>

    {{ include('series/_delete_form.html.twig') }}
{% endblock %}
