{% extends 'base.html.twig' %}

{% block title %}Series{% endblock %}


{% block body %}

    <section class="navbar-area p-3 mb-2 bg-primary text-white">
        {% include 'home/navbar.html.twig' %}
    </section>

    <br>
    <br>
    <br>
    <br>
    
    <div class="jumbotron text-center mt-2">
        <div class="container">
            <div class="row">
            <div class="col-12">
                <h1>{{ serie.title }}</h1><br>
                <h2>Season {{ season.number }}</h2><br>
                <h3>Episode {{ episode.number }} :</h3>
                <h3>{{ episode.title }}</h3>
            </div>
            </div>
        </div>
    </div>

    <div class="row text-center mt-2">	
        <div class="col-md-6">
            <h4>Imdb</h4>
            <a href="https://www.imdb.com/title/{{ episode.imdb }}">Imdb link</a>
            <br><br>
        </div>
        <div class="col-md-6">
            <h4>Date</h4>
            <p>{{ episode.date|date('d-m-Y') }}</p>
            <br><br>
        </div>
        <div class="col-md-6">
            <h4>IMDB Rating</h4>
            <p>{{ episode.imdbrating }}</p>
            <br><br>
        </div>
        
    </div>

    <div class="row justify-content-center">
        <a class="btn btn-outline-secondary" href="{{ path('series_index') }}">Back to List</a>      
    </div>

    
{% endblock %}
