{% extends 'base.html.twig' %}

{% block title %}Season{% endblock %}

{% block body %}

    <section class="navbar-area p-3 mb-2 bg-primary text-white">
        {% include 'home/navbar.html.twig' %}
    </section>
    <br><br><br><br>

    <div class="jumbotron text-center mt-2">
        <div class="container">
            <div class="row">
            <div class="col-12">
                <h1>{{ series.title }}</h1>
                <br>
                <h3>Season {{ seasons.number }}</h3>
            </div>
            </div>
        </div>
    </div>
    
    
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-10">
            <div class="section-title text-center pb-10">
                <h3 class="title">Episode List</h3>
            </div> <!-- row -->
        </div>
    </div> <!-- row -->
    
    <div class="row justify-content-center">
    {% for episode in episodes %}
        <div class="col-lg-4 col-md-7 col-sm-9">
            <div class="single-features mt-40">
                <div class="features-title-icon text-center">
                    <div class="d-flex justify-content-center">
                        <h4 class="features-title"><a href="{{ path('episode_show', {'serie_id': series.id, 'season_id': seasons.id, 'ep_id': episode.id}) }}">Episode {{ episode.number }}</a></h4>
                    </div>
                    <p>{{episode.title}}</p>
                    {% if app.user %}
                        {% if episode in episodes_not_watched %}
                            {{ form_start(notWatchedForms[episode.id]) }}
                                {{ form_row(notWatchedForms[episode.id].watched) }}
                                <button type="submit" class="btn btn-outline-secondary">Submit</button>
                            {{ form_end(notWatchedForms[episode.id]) }}
                        {% else %}
                            <p>Already watched</p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
