{% extends 'base.html.twig' %}

{% block title %}My series{% endblock %}

{% block body %}

    <section class="navbar-area p-3 mb-2 bg-primary text-white">
        {% include 'home/navbar.html.twig' %}
    </section>

    <br>
    <br>
    <br>
    <br>
    <br>

    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="section-title text-center pb-10">
                        <h3 class="title">{{app.user.name}}' series</h3>
                    </div> <!-- row -->
                </div>
            </div> <!-- row -->
            <div class="row justify-content-center">
                {% if series != null %}
                    {% for serie in series %}
                        <div class="col-lg-4 col-md-7 col-sm-9">
                            <div class="single-features mt-40">
                                <div class="features-title-icon ">
                                    <a href="{{ path('series_show', {'id': serie.id}) }}"><img src="data:image/jpeg;base64,{{ poster[serie.id] }}"/></a>
                                    <div class="d-flex justify-content-center">
                                        <h4 class="features-title"><a href="{{ path('series_show', {'id': serie.id}) }}">{{ serie.title }}</a></h4>
                                    </div>
                                </div>
                                <div class="features-content">

                                    {{ include('user/_unfollow_form.html.twig') }}
                                    
                                    <a class="btn btn-outline-secondary" href="https://www.imdb.com/title/{{ serie.imdb }}">Imdb link</a>
                                    <a class="btn btn-outline-secondary" href="{{ serie.youtubeTrailer }}">Youtube</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}       
                    <br><p>You can add series on this page : <a href="{{ path('series_index') }}" class="btn btn-outline-secondary">List</a></p><br>
            {% endif %}
            
            </div>
            <br><a href="{{ path('series_index') }}" class="btn btn-outline-secondary">Back to list</a><br>
        </div>
    </section>

{% endblock %}